.card {
	margin-right: 30px;
	margin-bottom: 30px;
	padding: 30px;
	width: 200px;
	border: 1px solid #f3f3f3;
	border-radius: 40px;
	transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.06);
		transform: translateY(-5px);
	}

	.plus {
		cursor: pointer;
	}

	.favorite { 
		position: absolute;
		cursor: pointer;
	}

	span {
		font-size: 12px;
		opacity: 0.5;
		text-transform: uppercase;
	}

	b {
		font-size: 12px;
	}

	p {
		font-weight: 400;
		font-size: 15px;
	}
}
